.App{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background: #222;

    position: relative;

    .task-container{
        @extend %mid;

        @extend %col;
        justify-content: center;
        align-items: center;
    }
    .open{
        position: absolute;
        bottom: 50px;
        right: 50px;

        @extend %col;
        justify-content: center;
        align-items: center;

        width: 60px;
        height: 60px;

        box-shadow: $shadow;

        font-size: 30px;
        border-radius: 50%;
        background: white;
        color: black;

        transition: all ease .2s;

        &:hover{
            transform: scale(1.1) rotate(180deg);
            background: black;
            color: white;
            cursor: pointer;
        }

    }
}